app_nico/docnum/projet/src/main/resources/XSD/validator.xsd

<?xml version="1.0"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="action">
        <complexType name="avion">
            <sequence>
                <element name="name" type="string" />
                <element name="weight" type="integer" />
                <complexType name="moteur">
                    <sequence>
                        <element name="puissance" type="integer" />
                        <element name="nombre" type="integer" />
                    </sequence>
                </complexType>
            </sequence>
        </complexType>
    </complexType>
</schema>